<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Update</title>
</head>
<body>

<button class="btn btn-primary" type="button" (click)="retour()">retour</button>
<div class="container">
  <form [formGroup]="olonaForm" (ngSubmit)="submit()">
    <label for="nom">Nom :</label>
    <input type="text" id="nom" formControlName="nom" required>

    <label for="prenom">Prénom :</label>
    <input type="text" id="prenom" formControlName="prenom" required>

    <button type="submit">Envoyer</button>
  </form>
</div>

</body>
</html>
