<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="card-body">
        <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
            <table class="table my-0" id="dataTable">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre enfant</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let enfant of listeenfant">
                        <td>....</td>
                        <td>{{ enfant.nbre }}</td>
                    </tr>

                </tbody>

            </table>
        </div>
        <button class="btn btn-primary" type="button" (click)="retour()">retour</button>
    </div>

</body>
</html>


